<header class="header">
  <div class="header__container">
    <div class="header__adaptive">
      <div class="header__logo">Логотип</div>
      <div class="header__burger-wrapper">
        <div class="header__burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav class="header__nav">
          <ul class="nav__menu">
            <li class="nav__item"><a href="#" class="nav__link">Театр</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Музыка</a></li>
            <li class="nav__item">
              <a href="#" class="nav__link">Выставки</a>
            </li>
            <li class="nav__item"><a href="#" class="nav__link">Кино</a></li>
            <li class="nav__item">
              <a href="#" class="nav__link">Фестивали</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Образовательные</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="header__controls">
      <select class="header__select">
        <option>Учреждения</option>
        <option>Театр</option>
        <option>Музей</option>
        <option>Кино</option>
      </select>
      <select class="header__select">
        <option>Новости</option>
        <option>События</option>
        <option>Обзоры</option>
      </select>
      <div class="header__search">
        <input type="text" placeholder="Поиск по сайту" class="header__input" />
      </div>
    </div>
  </div>
</header>
